<div class="baize">
  <%= render partial: 'convention_to_deal' %>
  <%= render partial: 'static_pages/hands/north' %>

  <div class ="d-flex hand-WE">
      <%= render partial: 'static_pages/hands/west' %>
      <%= render partial: 'static_pages/hands/east' %>
  </div>

  <%= render partial: 'static_pages/hands/south' %><div class= "south-summary">

    <div class ="link_container mt-4">
        <a href="https://www.bridgebum.com/cappelletti.php" target="_blank" class="text-white">Cappelletti</a>
    </div>
    <div class ="link_container mt-2">
        <a href="https://www.bridgebum.com/dont.php" target="_blank" class="text-white">DONT</a>
    </div>
    <div class ="link_container mt-2">
        <a href="https://www.bridgebum.com/muiderberg_two_bids.php" target="_blank" class="text-white">Muiderberg</a>
    </div>
    <div class ="link_container mt-2">
        <a href="https://www.bridgebum.com/multi_2d.php" target="_blank" class="text-white">Multi2D</a>
    </div>
    <div class ="link_container mt-2">
        <a href="https://www.bridgebum.com/roman_key_card_blackwood.php" target="_blank" class="text-white">RKCB</a>
    </div>
</div>    
